[submodule "IA/CNNs"]
	path = IA/CNNs
	url = https://github.com/IARA-TBC/CNNs.git
[submodule "Back-End-Node"]
	path = Back-End-Node
	url = https://github.com/IARA-TBC/Back-End-Node.git
[submodule "Back-End-Flask"]
	path = Back-End-Flask
	url = https://github.com/IARA-TBC/Back-End-Flask.git
[submodule "Iara"]
	path = Iara
	url = https://github.com/colotaddeo/Iara.git
